:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
  
	--color-yellow: #FFE9B1;
	--color-black: #16213E;
	--color-red: #E94560;
  }

html, body{
	margin:0;
	padding: 0;
	/* background-color: #FCFDF2; */
	/* height: 100vh; */
}
body{
	background-color: #FCFDF2;
  }

  .hidden{
	display: none;
  }
  
  #prepared{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	padding: 5em;
	flex-direction: column;
  }
  
  
  .loader {
	border: 8px solid var(--color-yellow); /* Light grey */
	border-top: 8px solid var(--color-black); /* Blue */
	border-radius: 50%;
	width: 30px;
	height: 30px;
	animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }

  h4{
	color: var(--color-black);
  }